@import "styles/_variables";

$height: 60px;

.nav {
    height: $height;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.container {
    @include containerMixin;

    .inner {
        display: flex;
        flex: 1 auto;
        flex-direction: row;
        align-items: center;
        height: $height;
    }
}

.title {
    padding: 0 20px;
    font-weight: 700;

    a {
        cursor: pointer;
        background-color: transparent;
        text-decoration: none;
    }
}

.content {
    display: flex;
    flex: 1;
    overflow-y: hidden;
    max-height: 100%;
    justify-content: flex-end;

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0 8px;

            a {
                padding: 12px 10px;
                font-size: $text-base-font-size;
                border: 0;
                cursor: pointer;
                background-color: transparent;
                text-decoration: none;
                color: lighten($color-text-gray, 10);
            }
        }
    }
}
