@import "styles/_variables";

.content {
    width: 100%;

    p {
        text-align: center;
        margin: 0;
    }

    .bread {
        width: 20rem;
        height: 20rem;
        margin: auto auto 2rem;

        img {
            transform-origin: 50% 100%;
            animation-name: shake;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-delay: 0.5s;
        }
    }

    .portrait {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        align-items: center;

        .image {
            width: 15rem;
        }

        .name {
            line-height: $text-base-line-height;
            font-weight: 200;
            strong {
                font-weight: 500;
            }
        }
    }
}
