@import "styles/_variables";

.container {
    @include containerMixin;

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.content {
    width: 100%;

    p {
        text-align: center;
        margin: 0;
    }

    .bread {
        width: 20rem;
        height: 20rem;
        margin: auto auto 2rem;

        img {
            transform-origin: 50% 100%;
            animation-name: shake;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-delay: 0.5s;
        }
    }

    .ponix {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        align-items: center;

        .image {
            width: 15rem;
        }

        .name {
            font-weight: 200;

            strong {
                font-weight: 500;
            }
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        grid-gap: 0.75rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        @include tablet {
            flex-direction: column;
        }

        button {
            @include buttonMixin;
            width: 100%;
            margin: auto;

            &.gray {
                background-color: $color-background-dim;
            }

            @include tablet {
                margin: auto;
                width: 50%;
            }
        }
    }
}
